<div class="container">
  <%= render 'profiles/header', user: current_user %>
  <div class="profile__actions">
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-sm-8 col-md-6 col-lg-8">
        <%= render 'profiles/action_button', path: edit_user_registration_path, text: 'edit_profile', icon_name: 'chevron-right' %>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-sm-8 col-md-6 col-lg-8">
        <%= render 'profiles/action_button', path: doctors_path, text: 'find_carers', icon_name: 'chevron-right' %>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-sm-8 col-md-6 col-lg-8">
        <%= render 'profiles/action_button', path: consultations_path, text: 'consultations', icon_name: 'chevron-right' %>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-sm-8 col-md-6 col-lg-8">
        <%= render 'profiles/action_button', path: games_path, text: 'games', icon_name: 'chevron-right' %>
      </div>
    </div>
  </div>
</div>
