<div class="container">
  <div class="round__card">
    <%= content_tag :div, class: 'score__header--layout' do %>
      <div class="d-flex align-items-center justify-content-start">
        <small class='avatar-mine-3 mr-min'>13</small>
        <p class="mb-0"><%= current_user.email.match(/(\w+)/)[0] %></p>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <div class="ranking">
          <%= icon 'fa-regular', 'star' %>
          <small>13</small>
        </div>
      </div>
    <% end %>
    <div class="score__round--layout">
      <div class="score__level--left flex-centered">
        <%= render 'shared/circle_progress_bar', percent: @round.result_in_percent %>
        <p class="mb-0"><%= t('round_result') %></p>
      </div>
      <div class="score__level--right flex-centered">
        <%= render 'shared/circle_progress_bar', percent: current_user.points %>
        <p class="mb-0"><%= t('next_level') %></p>
      </div>
    </div>
  </div>
  <div class="score__info">
    <h1><%= t('well_done') %>, <%= current_user.full_name %></h1>
    <%= link_to 'Try again', round_path(@round) ,class: '' %>
  </div>
</div>
