<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-4">
      <%= render 'game', game: @games.first, round: @round %>
    </div>
  </div>

  <div class="row justify-content-between">
    <% @games[1..].each do |game| %>
      <div class="col-4">
        <div class="centered-column">
          <%= simple_form_for [game, @round] do |f| %>
            <%= button_tag :submit, data: { disable_with: 'Create round'}, id: "create_#{game.name.gsub(' ', '_')}", class: 'game__icon' do %>
              <%#= yield %>
              <%= icon 'fa-solid', game.icon_name %>
            <% end %>
          <% end %>
          <%#= render 'rounds/new', game: game, round: @round do %>
          <%# end %>
          <h2><%= game.name %></h2>
        </div>
      </div>
    <% end %>
    <%# <div class="col-4">
      <%= render 'game', game: @games.first, round: @round %>
    <%# </div> %>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= link_to 'leaderboard_path' do %>
        <div class='leaderboard__card'>
          <%#= image_tag 'leaderboard.png', width: '100%' %>
          <p class='mb-0'>Leaderboard</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
