<div class="card__user">
  <div class="">
    <p><%= doctor.full_name %></p>
    <p class="card__sub_info"><%= "#{doctor.city}" %></p>
  </div>
  <div class="card__user__info">
    <div class="doc__infos">
      <div class="doctor__info">
        <p>Available</p>
        <p><strong><%= doctor.available? ? 'YES' : 'NO' %></strong></p>
      </div>
      <div class="doctor__info">
        <p>Home Care</p>
        <p><strong><%= doctor.home_care? ? 'YES' : 'NO' %></strong></p>
      </div>
    </div>
    <div class="" style='padding: 0; font-size: 2rem;'>
      <%= link_to doctor_path(doctor), style: 'position: relative;' do %>
        <%= icon 'fa-solid','pager' %>
        <div class="d-none"></div>
      <% end %>
    </div>
  </div>
</div>
