<div class="container py-3">
  <div class="row">
    <div class="col-lg-7 align-self-start">
      <%= render 'profiles/header', user: @doctor %>
      <%= simple_form_for [@doctor, @consultation], html: { data: { controller: 'flatpickr', turbo: false }, class: 'mb-3' } do |f| %>
        <div class="row align-items-end">
          <div class="col-8">
            <%= f.input :starting_at, as: :string, wrapper_html: { style: 'margin-bottom:0 !important;' }, input_html: { data: { flatpickr_target: 'input' } } %>
          </div>
          <div class="col-4">
            <%= f.submit 'Book!', class: 'button w-100', style: 'display: inline-block;' %>
          </div>
        </div>
      <% end %>
    </div>
  <%= render 'shared/map', marker: @marker  %>
  </div>
</div>
